


<mat-grid-list cols={{this.model.cfgDashboard.numberColumns}} rowHeight="{{ getHeigth() }}">

    <span *ngIf="this.model.status.onlineStatus === true; else NotOnline">
        <span *ngIf="this.model.getSkin() === 'Female'">
            <mat-grid-tile>
                <app-gateway-info-component style="background: #2ecc71;" [skin]="this.model.getSkin()" [online]="this.model.status.onlineStatus"></app-gateway-info-component>
            </mat-grid-tile>
        </span>
        <span *ngIf="this.model.getSkin() === 'Male'">
            <mat-grid-tile style="background: #423C40;">
                <app-gateway-info-component style="background: #423C40;" [skin]="this.model.getSkin()" [online]="this.model.status.onlineStatus"></app-gateway-info-component>
            </mat-grid-tile>
        </span>            
    </span>
    
    <ng-template #NotOnline>
        <mat-grid-tile>
            <app-gateway-info-component [online]="this.model.status.onlineStatus" [skin]="this.model.getSkin()" style="background:rgb(120, 121, 122);"></app-gateway-info-component>
        </mat-grid-tile>
    </ng-template>

    <span *ngIf="this.model.status.onlineStatus === true">
       
       <!-- TEMPs -->
        <span *ngFor="let temp of this.model.thingSpace.data.thermometer">
            <span *ngIf="this.model.getSkin() === 'Female'">
                <mat-grid-tile>
                    <app-gateway-temp-component style="background: #778beb;" [skin]="this.model.getSkin()" [name]="temp.name" [temp]="temp.temperature" [unit]="'°C'"></app-gateway-temp-component>            
                </mat-grid-tile>
            </span>
            <span *ngIf="this.model.getSkin() === 'Male'">
                <mat-grid-tile style="background: #423C40;">
                    <app-gateway-temp-component style="background: #423C40;" [skin]="this.model.getSkin()" [name]="temp.name" [temp]="temp.temperature" [unit]="'°C'"></app-gateway-temp-component>                              
                </mat-grid-tile>
            </span>            
        </span>
       
        <span *ngFor="let binOut of this.model.thingSpace.data.binaryOutput">        
            <span *ngIf="this.model.getSkin() === 'Female'">
                <mat-grid-tile>
                    <app-gateway-binout-component style="background: #63cdda;" [skin]="this.model.getSkin()" [name]="binOut.name" [output]="binOut.output"></app-gateway-binout-component>
                </mat-grid-tile>
            </span>
            <span *ngIf="this.model.getSkin() === 'Male'">
                <mat-grid-tile style="background: #423C40;">
                    <app-gateway-binout-component style="background: #423C40;" [skin]="this.model.getSkin()" [name]="binOut.name" [output]="binOut.output"></app-gateway-binout-component>
                </mat-grid-tile>
            </span>                
        </span>    
      
        <span *ngFor="let faceRec of this.model.thingSpace.data.faceRecognition">            
            <span *ngIf="this.model.getSkin() === 'Female'">
                <mat-grid-tile>
                    <app-gateway-facerec-component style="background: #f5cd79;" [skin]="this.model.getSkin()" [name]="'FaceRecognition'" [nFaces]="faceRec.faces.length"></app-gateway-facerec-component>
                </mat-grid-tile>
            </span>
            <span *ngIf="this.model.getSkin() === 'Male'">
                <mat-grid-tile style="background: #423C40;">
                    <app-gateway-facerec-component style="background: #423C40;" [skin]="this.model.getSkin()" [name]="'FaceRecognition'" [nFaces]="faceRec.faces.length"></app-gateway-facerec-component>
                </mat-grid-tile>
            </span>                            
        </span>     
    </span>   
  

    <!-- Logos -->
    <span *ngIf="this.model.getSkin() === 'Female'">
        <mat-grid-tile>
            <app-gateway-about-component style="background: #f3a683;" [skin]="this.model.getSkin()" [logo] = "'./theme/IOT-logo.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>
    <span *ngIf="this.model.getSkin() === 'Male'">
        <mat-grid-tile style="background: #9a9d9e;">
            <app-gateway-about-component style="background: #9a9d9e;" [skin]="this.model.getSkin()" [logo] = "'./theme/IOT-logo.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>        

    <span *ngIf="this.model.getSkin() === 'Female'">
        <mat-grid-tile>
            <app-gateway-about-component style="background: #f3a683;" [skin]="this.model.getSkin()" [logo] = "'./theme/Logimic_logo_full.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>
    <span *ngIf="this.model.getSkin() === 'Male'">
        <mat-grid-tile style="background: #9a9d9e;">
            <app-gateway-about-component style="background: #9a9d9e;" [skin]="this.model.getSkin()" [logo] = "'./theme/Logimic_logo_full.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>        
 
    <!-- Settings -->
    <span *ngIf="this.model.status.onlineStatus === true">        
        <span *ngIf="this.model.getSkin() === 'Female'">
            <mat-grid-tile>
                <app-gateway-settings-component style="background: #f3a683;" ></app-gateway-settings-component>
            </mat-grid-tile>
        </span>
        <span *ngIf="this.model.getSkin() === 'Male'">
            <mat-grid-tile style="background: #9a9d9e;">
                <app-gateway-settings-component style="background: #9a9d9e;" [skin]="this.model.getSkin()"></app-gateway-settings-component>
            </mat-grid-tile>
        </span>        
    </span>

 </mat-grid-list>

