<div *ngIf="this.skin === 'Female'">
    <span *ngIf="this.online == true; else NotOnline">
        <span class="textHelloFemale"><b>Hello I am Open Edge Gateway</b>
        <br><b>I am ready :)</b></span>
    </span>

    <ng-template #NotOnline>
            <span class="textHelloFemale" style="color: rgb(255, 255, 255);">Open Edge Gateway is off-line :(</span>
    </ng-template>
</div>

<div *ngIf="this.skin === 'Male'">
    <span *ngIf="this.online == true; else NotOnline">
        <span class="textValueMale" style="color:green;">
          online
        </span>
        <span class="textNameMale" style="color:green;">
          Open Edge Gateway
        </span>
    </span>

    <ng-template #NotOnline>
        <span class="textValueMale" style="color:rgb(187, 187, 187);">
          offline
        </span>
        <span class="textNameMale" style="color:rgb(187, 187, 187);">
          Open Edge Gateway
        </span>
    </ng-template>
</div>

