
<div *ngIf="this.skin === 'Female'">

    <img class="imgSymbolFemale" src="./theme/temp.png" alt="Lights">

    <div class="textValueFemale">     
        {{this.temp}} {{this.unit}}     
    </div>

    <div class="textNameFemale"> 
        {{this.name}}
    </div>

</div>


<div *ngIf="this.skin === 'Male'">    
    <canvas #myCanvas ></canvas>

    <div class="textValueMale">     
        {{this.temp}} {{this.unit}}
    </div>  

    <div class="textNameMale"> 
        {{this.name}}
    </div>    

</div>


