
 <div *ngIf="this.skin === 'Female'">
    <span *ngIf="this.output">
        <img class="imgSymbolFemale" src="../theme/bulbOn.png" alt="Lights"> 
    </span>

    <span *ngIf="!this.output">
        <img class="imgSymbolFemale" src="../theme/bulbOff.png" alt="Lights"> 
    </span> 

    <div class="textValueFemale">
        <span *ngIf="this.output"> On </span>  
        <span *ngIf="!this.output"> Off </span>  
    </div>

    <div class="textNameFemale"> 
        {{this.name}}
    </div>
</div>