
@import 'https://fonts.googleapis.com/css?family=Barlow+Condensed';
@import 'https://fonts.googleapis.com/css?family=Syncopate';
@import 'https://fonts.googleapis.com/css?family=Trade+Winds';

.textMain{  
  color: rgb(29, 78, 143);
  text-align: right;    
  font: 40px 'Trade Winds', cursive;  
  
}

.textName{  
  position: absolute;
  display: block;
  color: rgb(29, 78, 143);
  font: 30px 'Trade Winds', cursive;  
  left:35%;
  top: 60%;
}

.imgMain {
  position: absolute;
  display: block;  
     content: url("../theme/temp.png");
     width: 40%;
     left: 5px;
}