
@import 'https://fonts.googleapis.com/css?family=Barlow+Condensed';
@import 'https://fonts.googleapis.com/css?family=Syncopate';
@import 'https://fonts.googleapis.com/css?family=Trade+Winds';



.settings-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.settings-radio-button {
  margin: 0.2vw;
}

.settings-selected-value {
  margin: 0.5vw 0;
}