
<mat-grid-list cols={{this.model.cfgDashboard.numberColumns}} rowHeight="{{ getHeigth() }}">
    <span *ngIf="this.model.status.onlineStatus === true; else NotOnline">
        <span *ngIf="this.model.getSkin() === 'Female'">
            <mat-grid-tile>
                <app-gateway-info-component style="background: #2ecc71;" [skin]="this.model.getSkin()" [online]="this.model.status.onlineStatus"></app-gateway-info-component>
            </mat-grid-tile>

            <span *ngIf="this.isTimeTile() === true">
              <mat-grid-tile>
                <app-gateway-time-component style="background: #D4EFDF;" [skin]="this.model.getSkin()"></app-gateway-time-component>
              </mat-grid-tile>
            </span>
        </span>
        <span *ngIf="this.model.getSkin() === 'Male'">
            <mat-grid-tile style="background: #423C40;">
                <app-gateway-info-component style="background: #423C40;" [skin]="this.model.getSkin()" [online]="this.model.status.onlineStatus"></app-gateway-info-component>
            </mat-grid-tile>

            <span *ngIf="this.isTimeTile() === true">
              <mat-grid-tile>
                <app-gateway-time-component style="background: #423C40;" [skin]="this.model.getSkin()"></app-gateway-time-component>
              </mat-grid-tile>
            </span>
        </span>
    </span>

    <ng-template #NotOnline>
        <mat-grid-tile>
            <app-gateway-info-component [online]="this.model.status.onlineStatus" [skin]="this.model.getSkin()" style="background:rgb(120, 121, 122);"></app-gateway-info-component>
        </mat-grid-tile>
    </ng-template>


    <span *ngIf="this.model.status.onlineStatus === true">

        <!-- Face recognition... -->
        <span *ngIf="this.model.getSkin() === 'Female'">
            <mat-grid-tile>
                <app-gateway-facerec-component style="background: #F9E79F;" [skin]="this.model.getSkin()" [name]="'FaceRecognition'" [nFaces]="this.model.faces.length"></app-gateway-facerec-component>
            </mat-grid-tile>
        </span>
        <span *ngIf="this.model.getSkin() === 'Male'">
            <mat-grid-tile style="background: #423C40;">
                <app-gateway-facerec-component style="background: #423C40;" [skin]="this.model.getSkin()" [name]="'FaceRecognition'" [nFaces]="this.model.faces.length"></app-gateway-facerec-component>
            </mat-grid-tile>
        </span>

        <!-- Other things -->
        <span *ngFor="let thing of this.model.thingStatus.data.things; let i = index">

            <span *ngIf="i === 0;">{{this.clearCount()}}</span>

            <span *ngIf="this.isValidThing(thing.name) === true && this.isValidThingType(thing.atype) === true"> <!-- filter out face recog things...-->
              {{this.count()}}
              <span *ngIf="this.getCount() <= this.GetNumTiles()">
                <span *ngIf="this.model.getSkin() === 'Female'">
                    <mat-grid-tile>
                        <app-gateway-thing-component [style.background]="getBkColorFemale(thing.atype)" [skin]="this.model.getSkin()" [name]="thing.name" [value]="thing.value" [atype]="thing.atype" [unit]="thing.unit"></app-gateway-thing-component>
                    </mat-grid-tile>
                </span>
                <span *ngIf="this.model.getSkin() === 'Male'">
                    <mat-grid-tile style="background: #423C40;">
                        <app-gateway-thing-component style="background: #423C40;" [skin]="this.model.getSkin()" [name]="thing.name" [value]="thing.value" [atype]="thing.atype" [unit]="thing.unit"></app-gateway-thing-component>
                    </mat-grid-tile>
                </span>
              </span>
            </span>
        </span>
    </span>

    <!-- Logos -->
    <span *ngIf="this.model.getSkin() === 'Female'">
        <mat-grid-tile>
            <app-gateway-about-component style="background: #F1948A;" [skin]="this.model.getSkin()" [logo] = "'./theme/IOT-logo.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>
    <span *ngIf="this.model.getSkin() === 'Male'">
        <mat-grid-tile style="background: #9a9d9e;">
            <app-gateway-about-component style="background: #9a9d9e;" [skin]="this.model.getSkin()" [logo] = "'./theme/IOT-logo.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>

    <span *ngIf="this.model.getSkin() === 'Female'">
        <mat-grid-tile>
            <app-gateway-about-component style="background: #F1948A;" [skin]="this.model.getSkin()" [logo] = "'./theme/Logimic_logo_full.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>
    <span *ngIf="this.model.getSkin() === 'Male'">
        <mat-grid-tile style="background: #9a9d9e;">
            <app-gateway-about-component style="background: #9a9d9e;" [skin]="this.model.getSkin()" [logo] = "'./theme/Logimic_logo_full.png'"></app-gateway-about-component>
        </mat-grid-tile>
    </span>

    <!-- Settings -->
    <span *ngIf="this.model.status.onlineStatus === true">
        <span *ngIf="this.model.getSkin() === 'Female'">
            <mat-grid-tile>
                <app-gateway-settings-component style="background: #F1948A;" ></app-gateway-settings-component>
            </mat-grid-tile>
        </span>
        <span *ngIf="this.model.getSkin() === 'Male'">
            <mat-grid-tile style="background: #9a9d9e;">
                <app-gateway-settings-component style="background: #9a9d9e;" [skin]="this.model.getSkin()"></app-gateway-settings-component>
            </mat-grid-tile>
        </span>
    </span>

 </mat-grid-list>

