
<div *ngIf="this.skin === 'Female'">

    <img class="imgSymbolFemale" src="./theme/temp.png" alt="Lights">

    <div class="textValueFemale">     
        {{this.temp}} {{this.unit}}     
    </div>

    <div class="textNameFemale"> 
        {{this.name}}
    </div>

</div>

<div *ngIf="this.skin === 'Male'">

    <canvas #myCanvas ></canvas>

<!--
    <img class="imgMain" src="./theme/temp.png" alt="Lights" style="width:40%">

    <div class="textMain">     
        {{this.temp}} {{this.unit}}     
    </div>

    <div class="textName"> 
        {{this.name}}
    </div>

    -->

</div>


